[Desktop Entry]
Name=Kickoff Launcher for the COSMIC™ desktop
Comment=A KDE-style application menu for the COSMIC™ desktop
Type=Application
Icon=com.github.cosmic-kickoff-launcher
Exec=cosmic-ext-kickoff-launcher
Terminal=false
StartupNotify=true
Categories=Utility;COSMIC;
Keywords=COSMIC;Kickoff;Menu;Launcher;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-HostWaylandDisplay=true
X-OverflowPriority=50
