[Desktop Entry]
Name=Kickoff Launcher for COSMIC™
Comment=A KDE-style application menu
Type=Application
Icon=com.github.cosmic-kickoff-launcher
Exec=kickoff-launcher-for-cosmic
Terminal=false
StartupNotify=true
Categories=Utility;COSMIC;
Keywords=COSMIC;Kickoff;Menu;Launcher;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-HostWaylandDisplay=true
X-OverflowPriority=50
