[Desktop Entry]
Name=KDE Launcher for Cosmic
Comment=A KDE-style application menu
Exec=cosmic-kde-launcher
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicAppLibrary
Categories=COSMIC;
Keywords=COSMIC;Menu;Launcher;KDE;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=50
